# Functions in Python

In [1]:
# Function Syntax

In [2]:
def fun():
    pass

In [3]:
def test_1():
    print("This is my first fundtion")

In [4]:
test_1()

This is my first fundtion

In [5]:
def test2():
    a=3
    b=5
    print(a+b)

In [6]:
test2()

8

In [7]:
# ***Print always returns None Type 
print(test2())

8
None

In [8]:
def fun(a,b):
    return a+b

In [9]:
type(fun(2,3))

int

In [10]:
fun(2,3)

5

In [11]:
def test(a,b):
    return list(range(a,b))

In [12]:
test(1,50)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [13]:
def test3(a,b):
    return a+b, a*b

In [14]:
test3(5,6)

(11, 30)

In [15]:
y,x = test3(7,8)

In [16]:
y

15

In [17]:
x

56

In [18]:
def test4(a, b=" anshul"):
    return a+b

In [19]:
test4("pandey")

'pandey anshul'

In [20]:
def test5():
    return "ansh", [1,23,4,5], {"a":1, "b":3}

In [21]:
test5()

('ansh', [1, 23, 4, 5], {'a': 1, 'b': 3})

In [22]:
f, h, g = test5()

In [23]:
g

{'a': 1, 'b': 3}

In [24]:
f

'ansh'

In [25]:
t = tuple(range(1,6))

In [26]:
for i in t:
    print(i)

1
2
3
4
5

In [31]:
def is_prime(num):
    for i in range(2,num):
        if num % i==0:
            return False
            break
    else :
        return True

In [32]:
is_prime(66)

False

In [33]:
is_prime(8)

False

In [34]:
is_prime(17)

True

In [36]:
## Iterator

In [39]:
#integer is not iterable
for i in 5:
    pass

TypeError: 'int' object is not iterable

In [40]:
#string is iterable
for i in "Anshul":
    pass

In [41]:
for i in "Anshul":
    print(i)

A
n
s
h
u
l

In [43]:
#list is iterable
l_1 = [1,2,3,"Ansh"]
for i in l_1:
    print(i)

1
2
3
Ansh

In [17]:
# List and string are iterable objects but they are not iterator objects

next("Anshul")

TypeError: 'str' object is not an iterator

In [51]:
##iterable object can be converted into iterators

In [54]:
#converting data into iterator
it = iter("Anshul")

In [55]:
type(it)

str_iterator

In [60]:
next(iter("Anshul"))

'A'

In [67]:
next(it)

StopIteration:

In [68]:
# Generator - a function which is able to generate a new dataset

In [1]:
range(10)

range(0, 10)

In [18]:
next(range(10))

TypeError: 'range' object is not an iterator

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [20]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
def test(n):
    for i in range(n):
        print(i)

In [22]:
test(5)

0
1
2
3
4

In [23]:
def cube(n):
    for i in range(n):
        print( i **3)

In [24]:
cube(9)

0
1
8
27
64
125
216
343
512

In [25]:
def gencube(n):
    for i in range(n):
        yield i **3

In [26]:
gencube(10)

In [27]:
for i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [28]:
next(gencube(10))

0

In [29]:
a = iter(gencube(10))

In [29]:
next(a)

27

In [2]:
## Inbuilt funtions
# Map, reduce and filter functions

In [3]:
def square(n):
    return n**2

In [4]:
square(6)

36

In [6]:
l = [2,44,3,65,3,6]
n = []
for i in l:
    n.append(square(i))

In [7]:
n

[4, 1936, 9, 4225, 9, 36]

In [8]:
[i**2 for i in l]

[4, 1936, 9, 4225, 9, 36]

In [9]:
# Map Function

In [11]:
list(map(square,l))

[4, 1936, 9, 4225, 9, 36]

In [12]:
for i in map(square,l):
    print(i)

4
1936
9
4225
9
36

In [13]:
## Lamda operation (lambda functions can be stored in a variable)

In [30]:
c = lambda x: x**2
list(map(c, l))

[4, 1936, 9, 4225, 9, 36]

In [43]:
a2 = [1,345,5,6]
a3 = [22,3,4,5]
a4 = [54,67,7,8]

In [47]:
def summ(j,k,l):
    return j+k+l

In [49]:
list(map(summ,a2,a3,a4))

[77, 415, 16, 19]

In [53]:
list(map(lambda j,k,l: j+k+l,a2,a3,a4))

[77, 415, 16, 19]

In [81]:
#reduce operation - used for aggregation

In [82]:
from functools import reduce

In [83]:
l = [1,23,4,5,687,99]

def sum(a,b):
    return a+b

In [84]:
reduce(sum, l)

819

In [85]:
# Filter operation

In [86]:
l = [2,33,44,567,567,990,345,7,890]

In [97]:
list(filter(lambda x : x%2 ==0, l))

[2, 44, 990, 890]

In [108]:
def even_check(n):
    if n%2 !=0:
        return True

In [109]:
list(filter(even_check, l))

[33, 567, 567, 345, 7]